@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    html {
        scroll-behavior:smooth;
    }
    ::-webkit-scrollbar{
        @apply w-2;
      }
      ::-webkit-scrollbar-track{
        @apply bg-transparent h-fit;
      }
      ::-webkit-scrollbar-thumb{
        @apply bg-slate-400;
      }
    body{
        @apply py-5 px-14 text-base;
    }
    h1 {
        @apply text-3xl md:text-4xl lg:text-5xl font-bold;
    }
    h2 {
        @apply text-2xl md:text-3xl lg:text-4xl font-bold mb-8;
    }
    input[type='password']{
        @apply tracking-[0.3em];
    }
    button {
        @apply capitalize;
    }
}

@layer components{

    .homepage {
        @apply flex flex-col items-center px-20 py-5;
    }
    .directory-menu {
        @apply w-full flex flex-wrap flex-row justify-between;
    }
    .menu-item {
        @apply w-fit min-w-[30%] h-[240px] flex-auto flex items-center justify-center /* border border-black */ my-0 mx-[7.5px] mb-[15px] 
        relative hover:cursor-pointer overflow-hidden;
    }
    .menu-item:first-child {
        @apply mr-[7.5px];
    }
    .menu-item:last-child {
        @apply ml-[7.5px];
    }
    .background-image {
        @apply w-full h-full bg-center bg-cover absolute -z-10 group-hover:scale-110 transition-all duration-[6s] ease-in-out;
    }
    .content {
        @apply h-[90px] px-[25px] py-0 flex flex-col items-center justify-center bg-white font-open opacity-70 /*$border border-black */
        group-hover:opacity-90; 
    }
    .title {
        @apply font-bold mb-[6px] text-[22px] text-slate-600;
    }
    .subtitle {
        @apply font-light text-base;
    }
    .previewCollection{
        @apply flex flex-col mb-8;
    }
    .previewTitle{
        @apply text-[28px] mb-6;
    }
    .preview{
        @apply flex justify-between;
    }
    .collectionItem{
        @apply w-[22%] flex flex-col h-[350px] items-center;
    }
    .collectionImage{
        @apply w-full h-[95%] bg-cover bg-center mb-[5px];
    }
    .collectionFooter{
        @apply w-full h-[5%] flex justify-between text-[18px];
    }
    .collectionName{
        @apply w-[90%] mb-[15px];
    }
    .collectionPrice{
        @apply w-[10%];
    }
    .header {
        @apply h-[70px] w-full flex justify-between mb-6;
    }
    .logoContainer{
        @apply h-full w-[70px] p-6;
    }
    .options{
        @apply w-[50%] h-full flex items-center justify-end;
    }
    .option {
        @apply px-[15px] py-[10px] uppercase tracking-widest font-open cursor-pointer;
    }
    .formGroup{
        @apply relative ;
    }
    .formInput{
        @apply text-slate-600 text-[18px] py-[10px] pl-[5px] pr-[10px] w-full border-b border-b-slate-600 my-6 
        focus:outline-none;
    }
    .formInputLabel{
        @apply text-slate-600 text-base absolute pointer-events-none left-[5px] top-[10px] transition-all duration-300 ease-linear capitalize
         focus:top-[-14px] focus:text-xs focus:text-slate-900;
    }
    .formInputLabel.shrink{
        @apply top-[0px] text-xs text-slate-800;
    }
    .signIn{
        @apply w-[380px] flex flex-col;
    }
    .customButton{
        @apply min-w-[165px] w-fit h-[50px] tracking-[0.5px] leading-[50px] px-9 py-0 text-[15px] bg-slate-900 text-slate-50 
        uppercase font-open cursor-pointer
        hover:bg-slate-50 hover:text-slate-900 hover:border hover:border-slate-900 ;
    }
    .buttons{
        @apply flex justify-between;
    }

}